extends layout-topbar
block append stylesheets
  link(href='/stylesheets/dashboard.css', rel='stylesheet')
block content
  if errorAlert == true
    .alert.alert-danger.alert-dismissible.fade.show(role='alert')
      strong Yikes! Something went wrong... Please try again. 
      br 
      | The details: #{errorAlertText}
      button.close(type='button', data-dismiss='alert', aria-label='Close')
        span(aria-hidden='true') ×
  main(role='main')
    section.jumbotron.text-center
      .container
        if boards != null && boards.length != 0
          h1.jumbotron-heading Your Boards
            p.lead.text-muted
              | Your boards are below, click on one to see the items.
              br
              | You can also create more boards using the button below.
        else
          h1.jumbotron-heading Look at all the empty
            p.lead.text-muted
              | You can create a new board by clicking the button below. Once you've created a board, you can start to paste items into it.
        p
          button.btn.btn-primary(type='button', data-toggle='modal', data-target='#newBoardModal') New Board
          #newBoardModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='newBoardModalLabel', aria-hidden='true')
            .modal-dialog(role='document')
              .modal-content
                form(type='form' action='/newboard' method='post')#newBoardForm
                  .modal-header
                    h5#newBoardModalLabel.modal-title New Board
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                      span(aria-hidden='true') x
                  .modal-body
                      .form-group.row
                        label.col-form-label.col-sm-3(for='newboardName') Name 
                        div.col-sm-9
                          input#newboardName.form-control(name='newboardname' type='text', placeholder='Like \"Linux Commands\" or \"Good Quotes\"')
                      .form-group.row
                        label.col-form-label.col-sm-3(for='newboardDescription') Description 
                        div.col-sm-9
                          textarea#newboardDescription.form-control(name='newboarddesc' placeholder='Describe what this board is all about')
                      .form-group.row
                        label.col-form-label.col-sm-3(for='newboardPrivate') Make Private
                        div.col-sm-9
                          input#newboardPrivate.form-control(name='newboardprivate' type="checkbox" data-toggle="tooltip" data-placement="bottom" title="Keep this board secret")
                        //- TODO COLOR PICKER AND ICON IMAGE
                  .modal-footer
                    .form-group.row
                      div.col-sm-5
                        button.btn.btn-secondary(type='button', data-dismiss='modal') Cancel
                      div.col-sm-5
                        button#newboardSubmitButton.btn.btn-primary(type='submit') Create
    if boards != null && boards.length != 0
      .album.py-5.bg-light
        .container
          .row
            - var count = Math.min(50, boards.length)  // limit the max displayed boards
            - var iter = 0
            while iter < count
              if boards[iter].id != null && boards[iter].id.length > 0
                .col-md-4
                  .card.mb-4.shadow-sm
                    svg.bd-placeholder-img.card-img-top(width='100%', height='100', xmlns='http://www.w3.org/2000/svg', preserveAspectRatio='xMidYMid slice', focusable='false', role='img', aria-label='Placeholder: Header')
                      title Header
                      rect(width='100%', height='100%', fill='#55595c')
                      text(x='50%', y='50%', fill='#eceeef', dy='.3em') #{boards[iter].name}
                    .card-body
                      p.card-text
                        | #{boards[iter].description}
                      .d-flex.justify-content-between.align-items-center
                        .btn-group
                          a.button.btn.btn-sm.btn-outline-secondary(href='/'+user+'/board/'+boards[iter].id, type='button') Click to Open
                          //- button.btn.btn-sm.btn-outline-secondary.btn-warning(type='button') Delete
                        small.text-muted #{boards[iter].items.length} items
              else
                .col-md-4
                  .card.mb-4.shadow-sm
                    svg.bd-placeholder-img.card-img-top(width='100%', height='100', xmlns='http://www.w3.org/2000/svg', preserveAspectRatio='xMidYMid slice', focusable='false', role='img', aria-label='Placeholder: Header')
                      title Header
                      rect(width='100%', height='100%', fill='#55595c')
                      text(x='50%', y='50%', fill='#eceeef', dy='.3em') ?????????
                    .card-body
                      p.card-text
                        | Something is wrong with this board, contact and admin if you would like to try to recover it.
                      .d-flex.justify-content-between.align-items-center
                        .btn-group
                          button.btn.btn-sm.btn-outline-secondary(type='button') Cannot Open
                          //- button.btn.btn-sm.btn-outline-secondary.btn-warning(type='button') Delete
                        small.text-muted ? items
              - iter++

block append javascripts
  script(src='/javascripts/dashboard.js')