doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    title Paste Board
    link(href='/stylesheets/bootstrap-4.3.1-dist/css/bootstrap.min.css', rel='stylesheet')
    style.
      .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      }
      @media (min-width: 768px) {
      .bd-placeholder-img-lg {
      font-size: 3.5rem;
      }
      }
  block stylesheets
    link(href='/stylesheets/topbar.css', rel='stylesheet')
  body.bg-light
    nav.navbar.navbar-expand-lg.fixed-top.navbar-dark.bg-dark.flex-wrap2.flex-md-nowrap
      img.mr-3(src='/images/clipboard.png', alt='', width='50', height='50')
      button.navbar-toggler.p-0.border-0(type='button', data-toggle='offcanvas')
        span.navbar-toggler-icon
      .navbar-collapse.offcanvas-collapse(id='navbarContent')
        ul.navbar-nav.flex-grow-1
          li.nav-item
            a.nav-link(href='/')
              | Dashboard 
              span.sr-only (current)
          li.nav-item
            a.nav-link(href='/shared') Shared
          li.nav-item
            a.nav-link(href='/profile') Profile
          form.flex-grow-1.mx-5.my-2.my-lg-0(type='form' action='/search' method='post')
            .input-group.py-1.px-2.px-md-0
              input.form-control.form-control-dark(name='term' type='text' placeholder='Search here...' aria-label='Search')
              .input-group-append
                button.btn.btn-outline-light(type='submit')
                  i.fa.fa-search Search
        //- login button and form
        ul.navbar-nav.navbar-right
          li.nav-item.dropdown
            a#dropdown-notifications.nav-link.dropdown-toggle(href='#', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false') Notifications
            .dropdown-menu(aria-labelledby='dropdown-notifications')
              a.dropdown-item(href='#').disabled No new notifications
          li.nav-item.dropdown
            if locals.authenticated == false
              a#dropdown-login.nav-link.dropdown-toggle(href='#', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false') Login
            else
              a#dropdown-login.nav-link.dropdown-toggle(href='#', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false') #{locals.username}
            ul#login-dp.dropdown-menu.dropdown-menu-right(aria-labelledby='dropdown-login')
              li
                .row
                  .col-md-12
                    if locals.authenticated == false
                      a.dropdown-item(href='#').disabled You are anonymous right now
                      a.btn.btn-primary.btn-block.my-3(href='/login', role='button') Login
                    else
                      a.dropdown-item(href='#').disabled #{locals.username}
                      a.btn.btn-primary.btn-block.my-3(href='/logout', role='button') Logout
    br
    block secondbar

    block content

  footer.text-muted
    .container
      p.float-right
        a(href='#') Back to top
      p.badge.badge-light
        br
        br
        | The source for this application can be 
        a(href='https://github.com/dudash/openshift-microservices') found on github
      //- a(href='https://vecteezy.com').badge.badge-light - graphics provided by www.Vecteezy.com
      br
      br
      p(align='center')
        | Made with ❤️ at 
        img(src='/images/Logo-RedHat-A-Color-RGB.png' width='100')

  block javascripts
    script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js', integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo', crossorigin='anonymous')
    script.
      window.jQuery || document.write('<script src="/javascripts/jquery-3.3.1.slim.min.js"><\\/script>')
    script(src='/stylesheets/bootstrap-4.3.1-dist/js/bootstrap.bundle.min.js')
    script(src='/javascripts/topbar.js')