extends layout-topbar

block content
 main(role='main')
    section.jumbotron.text-center
      .container
        h1.jumbotron-heading #{title}
        p.lead.text-muted
            | This page is under construction.
            br
            | You will be able to edit details about yourself here.
