body
{
    font-family: 'Open Sans', sans-serif;
}

.jumbotron {
    background-image: url("/images/user-profile-background.png");
    background-size: cover;
}

.user-profile img.user-profile-image-bkg 
{
    z-index: 0;
    width: 100%;  
    margin-bottom: 10px;
    position:absolute;
}

.user-profile-image
{
    margin: -90px 10px 0px 50px;
    z-index: 9;
    width: 20%; 
}

.user-profile-text
{
    text-align: left;
    margin-left: 50px;
}

@media (max-width:768px)
{
    .user-profile-text>h1 
    {
        font-weight: 700;
        font-size:16px;
    }

    .user-profile-image
    {
        margin: -45px 10px 0px 25px;
        z-index: 9;
        width: 20%; 
    }
}